.modal-content{
    border-radius: 0 30px 0 30px;
    /* background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%)); */
    background: linear-gradient(to right, hsl(0, 0%, 81%), hsl(0, 0%, 81%));
}

.modal-header{
    background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
    border-radius: 0 30px 0 30px;
}

.mdlte{
    background: #95241E;
    background: -webkit-linear-gradient(top, #d8084d, #95241E);
    background: -o-linear-gradient(top, #d8084d, #95241E);
    background: -moz-linear-gradient(top, #d8084d, #95241E);
    background: linear-gradient(top, #d8084d, #95241E);
    border-radius: 0 30px 0 30px;
}
.modal-body{
    color: black;
}