/* Add a black background color to the top navigation */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* CSS HEX */
:root{
  --aureolin: #fdec00ff;
  --firebrick: #b23129ff;
  --light-steel-blue: #b4c5e4ff;
  --rich-black-fogra-29: #001011ff;
  --outer-space-crayola: #2b3d41ff;
}


.topnav {
    overflow: hidden;
    padding: 5px;
  }

  /* Style the links inside the navigation bar */

  .wedd{
    background-color: rgba(255, 255, 255, 0.6);
  }

  .topnav a {
    float: right;
    display: block;
    color: var(--aureolin);
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Poppins";
    font-weight: bolder;
    margin-top: 10px;
  }


  /* Add an active1 class to highlight the current page */

  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* dropdown1 container - needed to position the dropdown1 content */
  .dropdown1 {
    float: right;
    overflow: hidden;
    cursor: pointer;
  }

  /* Style the dropdown1 button to fit inside the topnav */
  .dropdown1 .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: var(--aureolin);
    padding: 8px 16px;
    background-color: inherit;
    font-family: "Poppins";
    font-weight: bolder;
    margin: 0;
    margin-top: 10px;
  }

  /* Style the dropdown1 content (hidden by default) */
  .dropdown1-content {

    display: none;
    border: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-decoration: none;
  }

  /* Style the links inside the dropdown1 */
  .dropdown1-content a {

    float: none;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a dark background on topnav links and the dropdown1 button on hover */
  .topnav a:hover, .dropdown1:hover .dropbtn {
    border-radius: 5px;
    color: #e4e000;
  }

  /* Add a grey background to dropdown1 links on hover */
  .dropdown1-content a:hover {
    color: #e4e000;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  /* Show the dropdown1 menu when the user moves the mouse over the dropdown1 button */
  .dropdown1:hover .dropdown1-content {
    display: block;
  }

  img{
    margin-top: 10px;
    float:left;
    width: 5px;
    margin-left: 20px;
  }

  .cat{
    margin-top: 14px;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: "Poppins";
    font-weight: bolder;
  }



  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a, .dropdown1 .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right; 
      display: block;
    }
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown1 {float: none;}
    .topnav.responsive .dropdown1-content {position: relative;}
    .topnav.responsive .dropdown1 .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }

  }


  /* NAVBAR ANIMATION */
  /* stroke */
.stroke  a{
  position: relative;
}
.stroke a:after,
.fill a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
  transition: all .5s;
}
.stroke  a:hover:after {
  width: 100%;
}

.fill a {
  transition: all 2s;
}

.fill a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.fill a:hover {
  color: #fff;
  z-index: 1;
}
.fill a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
