@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Poppins";
    text-align: center;

  }

.fbg{
    border-radius: 10px;
    background-color: blanchedalmond !important;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 280px;
    padding:50px 20px 80px 20px;
}

.fbtn{
    float:right;
    margin:10px;
}