*{
    font-family: "Poppins";
    text-align: center;
    background-image:url('project/img/red.jpg');
    font-size: 20px;
    background-size: cover;

  }

.fbg{
    border-radius: 10px;
    background-color: blanchedalmond !important;
    margin-top: 200px;
    margin-bottom: 100px;
    padding:50px 20px 80px 20px;
}

.fbtn{
    float:right;
    margin:10px;
}

.h5{
    font-weight: bold;
}